@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth transitions */
html {
    transition: background-color 0.3s ease, color 0.3s ease;
}
#theme-transition div {
    will-change: width, height;
}

#theme-ripple div {
    position: absolute;
    border-radius: 50%;
    will-change: width, height, opacity, box-shadow;
    mix-blend-mode: difference;
    opacity: 0.85;
    box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.25);
}

/* SHOCKWAVE DISTORTION RING */
#theme-ripple .distortion {
    position: absolute;
    border-radius: 50%;
    will-change: width, height, filter, opacity;
    filter: blur(12px);
    opacity: 0.45;
    mix-blend-mode: overlay;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}